@model IEnumerable<WeatherForecast>

@{
    ViewData["Title"] = "Home Page";
}

<table>
    <thead>
    <tr>
        <td>Date</td>
        <td>Temp. (C)</td>
        <td>Temp. (F)</td>
        <td>Summary</td>
    </tr>
    </thead>
    <tbody>
        @foreach (var forecast in @Model)
        {
            <tr>
                <td>@forecast.Date.ToShortDateString()</td>
                <td>@forecast.TemperatureC</td>
                <td>@forecast.TemperatureF</td>
                <td>@forecast.Summary</td>
            </tr>
        }
    </tbody>
</table>